.main_text {
  font-size: 9rem;
  line-height: 11rem;
  letter-spacing: 2.5rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
