$global-colors: (
  --lightgray: #f0f0f0,
  --lightgray-10: #cccccc,
  --lightgray-15: #b6b6b6,
  --gray: #737373,
  --gray-10: #595959,
  --black: #000,

  --purple: #8f07cf,
  --purple-10: #6d00a8,
  --pink: #c86fec,
  --lightpink: #f3e1f9,

  --primary-color: var(--purple),
  --primary-text-color: var(--black),
);
